* {
    margin: 0;
    padding: 0;
}

.control {
    display: block;
    margin: 6px auto;
    width: max-content;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 640px;
    height: 640px;
    border: 1px solid;
}

.flex-element {
    box-sizing: border-box;
    border: 1px solid;
}